.delete-alert {
  height: 100%;
}

.media-class {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.big-margin {
  margin: 3rem;
}
.strong-text {
  color: red;
}

@media screen and (max-width: 480px) {
  .media-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .big-margin {
    margin: 0.5rem;
  }

  h4,
  p {
    text-align: center;
  }
}
